.fa-question {
  color: #CC0000;
}
.expense {
  padding: 15px;
  margin: 10px;
  background-color: #BDFCC9;
}
.deduction {
  padding: 15px;
  margin: 10px;
  background-color: #FF9999;
}
#totalexpenses {
  background-color: #BCED91;
}
#totaldeductions {
  background-color: #FF3232;
}
.expense-info {
  margin: 10px;
}
.deduction-info {
  margin: 10px;
}
#specialexpense {
  background-color: #CC0000;
}
