<h4>Airfare</h4>
<form name="airfare">
<div class="form-group">
  <label>Amount</label>
  <input type="number" class="form-control" ng-model="airport.expense">
</div>
<label>Association Air Travel Card Used?</label>
<div class="form-group">
  <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="yesass" value="yes"> Yes (do not enter airfare above)
  </label>
  <label class="radio-inline">
    <input type="radio" name="inlineRadioOptions" id="noass" value="no"> No
  </label>
</div>
<div class="form-group receipt">
  <label>Receipt</label>
  <input id="input-1" type="file" class="file">
</div>
</form>
