<h2>Expenses</h2>
<div class="row expense-info">
  <div class="col-md-8">To add an expense, select the expense type you'd like to add. Fill the information for the expense, add the receipt (one per expense), and press <b>Add Expense</b>. The expense should then be visible to the right under <b>Total Expenses</b>.</div>
  <div class="col-md-4" id="totalexpenses">
    <h4>Total Expenses</h4>
  </div>
</div>

<div class="form-group expense-info">
  <form name="expenseType">
    <label for="expenseType">Select Expense Type:</label>
    <select class="form-control" name="expenseType" ng-options="option.name for option in expense.availableOptions track by option.id" ng-model="expense.selectedOption">
    </select>
  </form>
</div>

<div class="expense" ng-show="expense.selectedOption">
  <ng-include src="expense.selectedOption.template"></ng-include>
</div>
