<h2>Create/Edit/Delete an Expense Report:</h2>
<a class="btn btn-primary" href="/general">Create a New Expense Report</a><br /><br />

<table class="table table-striped">
  <tr>
    <th>Action</th>
    <th>Report Date</th>
    <th>Location</th>
    <th>Purpose</th>
  </tr>
  <tr>
    <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
    <td>10/21/15</td>
    <td>Denver, CO</td>
    <td>Board Meeting</td>
  </tr>
  <tr>
    <td><a href="#">Edit</a> | <a href="#">Delete</a></td>
    <td>8/22/15</td>
    <td>Cheyenne, WY</td>
    <td>Regional Meeting</td>
  </tr>
</table>

<b>Tips:</b><br /><br />

<ul>
  <li>Review the <a href="#">Director Expense Report Policy</a></li>
  <li>Recommended browsers:
    <ul>
      <li>Chrome or Safari on iPad</li>
      <li>Chrome or Internet Explorer for Windows</li>
      <li>Chrome for Mac</li>
    </ul>
  </li>
  <li>Set browser to accept cookies</li>
  <li>Collect receipts before you begin a new expense report</li>
  <li>Save progress frequently</li>
</ul>
