<h2>Create/Edit/Delete an Expense Report:</h2>
<a class="btn btn-primary" href="/general">Create a New Expense Report</a><br /><br />

<b>Tips:</b><br /><br />

<ul>
  <li>Review the <a href="#">Director Expense Report Policy</a></li>
  <li>Recommended browsers:
    <ul>
      <li>Chrome or Safari on iPad</li>
      <li>Chrome or Internet Explorer for Windows</li>
      <li>Chrome for Mac</li>
    </ul>
  </li>
  <li>Set browser to accept cookies</li>
  <li>Collect receipts before you begin a new expense report</li>
  <li>Save progress frequently</li>
</ul>
