<div class="row container-fluid">
  <a class="btn btn-default" href="/home">Start</a>
  <a class="btn btn-default" href="/general">General Info</a>
  <a class="btn btn-default" href="/travel">Details</a>
  <a class="btn btn-default" href="/expenses">Expenses</a>
  <a class="btn btn-default" href="/deductions">Deductions and Per Diem</a>
  <a class="btn btn-default" href="/review">Review</a>
  <!--<a class="btn btn-default" href="/othertransportation">Other Transportation</a>
  <a class="btn btn-default" href="/parking">Parking</a>
  <a class="btn btn-default" href="/hotel">Hotel</a>
  <a class="btn btn-default" href="/otherexpenses">Other Expenses</a>
  <a class="btn btn-default" href="/deductions">Deductions</a>
  <a class="btn btn-default" href="/perdiem">Per Diem</a>
  <a class="btn btn-default" href="/receipts">Receipts</a>
  <a class="btn btn-default" href="/review">Review</a>-->
</div>
