<h2>Purpose</h2>

<p>Fields marked with a * are required.</p>

<div class="form-group">
  <label>Purpose of Travel</label>
  <select class="form-control" required>
    <option>CEO Close-Up Conference</option>
    <option>CFC Board Meetings</option>
    <option>GT Managers Association Meeting</option>
    <option>IFS Committee Meetings (Spring/Fall)</option>
    <option>National Standing and Resolutions Committee Meeting</option>
    <option>NRECA Annual Meeting</option>
    <option>NRECA Directors Conference</option>
    <option>NRECA Legislative Conference</option>
    <option>NRECA Spring Board Meeting</option>
    <option>NRECA Summer Board Meeting</option>
    <option>NRECA Winter Board Meeting</option>
    <option>Regions 1 and 4</option>
    <option>Regions 2 and 3</option>
    <option>Regions 5 and 6</option>
    <option>Regions 7 and 9</option>
    <option>Regions 8 and 10</option>
    <option>RESMA Meetings</option>
    <option>Statewide Meetings</option>
    <option>Special Meeting in Person</option>
    <option>Special Meeting Conference Call</option>
    <option>Conference Call</option>
    <option>Other</option>
  </select>
</div>

<div class="form-group">
  <label for="name">Other</label>
  <input type="text" class="form-control">
</div>

<div class="form-group">
  <label for="name">Conference Calls</label>
  <input type="text" class="form-control">
</div>

<div class="form-group">
  <label for="name">Travel Justification or Additional Information</label>
  <input type="text" class="form-control">
</div>
