<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<h2>Review</h2>

<p>Fields marked with a * are required.</p>
<p><b>Take a moment to review all calculated expense entries.</b> To change these entries, use the <b>Previous</b> button to navigate back to the appropriate input pages. To submit these entries, use the <b>Submit</b> button. You will not be able to make changes after you submit this form.</p>

<label>Airfare Total</label>
<p></p>

<label>Other Transportation Total</label>
<p></p>

<label>Accomodation Total</label>
<p></p>

<label>Other Expenses Total</label>
<p></p>

<label>Expenses Grand Total</label>
<p></p>

<label>Deduction Total</label>
<p></p>

<label>Deferral Total</label>
<p></p>

<label>Per Diem Total</label>
<p></p>

<label>Net Amount to be Paid</label>
<p></p>

<label><input type="checkbox">I accept *</label><i class="fa fa-question" data-toggle="tooltip" data-placement="right" title="Click I accept in lieu of signing this form." ></i>

<p>Electronic Signature Agreement. By selecting the “I Accept” button, you agree that you intend to sign this Expense Report and that the act of selecting the “I Accept” button serves as your electronic signature.</p>

<b>Save Progress and then Submit to send your expense report to Bernita. You will receive a confirmation screen and email. Please save the email for your records.</b>
