<h2>Travel Details</h2>

<div class="form-group">
  <label for="name">Total Hours Devoted to NRECA since last expense report</label>
  <input type="number" class="form-control">
</div>

<div class="form-group">
  <label for="name">Destination (City, State)</label>
  <input type="text" class="form-control">
</div>

<div class="form-group">
  <label for="name">Arrival Date</label>
  <input type="text" class="form-control">
</div>

<div class="form-group">
  <label for="name">Departure Date or Date of Conference Call</label>
  <input type="text" class="form-control">
</div>
